@font-face {
    font-family: 'Roboto regular';
    src: url('font/Roboto-Regular.woff') format('woff');
    font-weight: 400;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #E5E5E5;
}
.container {
    max-width: 661px;
    height: 763px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
    background-color: #C4C4C4;
    position: relative;
}
#repoSearch {
    width: 500px;
    height: 61px;
    padding: 10px;
    margin: 0;
    margin-top: 62px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Roboto regular';
    font-weight: 400;
    font-size: 48px;
    color: #000;
}
#autocompleteResults {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    top: 123px;
    z-index: 1;
}
#autocompleteResults li {
    padding: 10px;
    cursor: pointer;
    border: 2px solid #000;
    width: 500px;
    height: 44px;
    background: #e3e3e3;
}
#autocompleteResults li:hover {
    background-color: #65cdf9;
}
#repoList {
    max-height: 303px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 503px;
    height: 303px;
    overflow: hidden;
    margin-bottom: 72px;
}
#repoList li {
    width: 500px;
    height: 101px;
    padding: 8px 17px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E27BEB;
    font-weight: 400;
    font-size: 24px;
}
#repoList li button {
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: relative;
}

.one {
    object-fit: cover;
}
.two{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  
}
#repoList li button:hover{
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  